<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('삐슐랭가이드 : 정보')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">

    <link href="carousel.css" th:href="@{/carousel.css}" rel="stylesheet">
    <title>삐슐랭가이드</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     th:replace="fragments/common :: menu('detail')"></nav>

<main role="main" class="container">
    <div class="starter-template">
        <!--<img class="img-thumbnail" src="https://t1.daumcdn.net/cfile/blog/990E3F335E1182FB33">-->
        <img class="img-thumbnail" src="images/image_03_large.jpeg">
        <div th:object="${store}">
            <br>
            <h1 th:text="*{name}">삐슐랭가이드</h1>
            <p class="lead" th:text="*{address}">hello, world</p>
            <br>
        </div>
        <!--<a style="text-decoration: none" th:text="*{id}"></a><br>-->
        <div id="gallery">
            <!--<a th:each="i, iter : ${pictures}">-->
                <!--th:class="${!iter.first} ? hidden">-->
                <!--<img class="img-thumbnail" src="$@{i}"></a>-->
           <!-- <a> <img class="img-thumbnail" th:src="*{pictures.getImage1()}" alt="11" height="300" width="300"/></a>-->
            <div id="panel">
                <img id="largeImage" height="500" width="500" src="/Users/dhkim/SpringBootProject/blackpig/src/main/resources/images/image_01_large.jpeg">
                <div id="description">1st image description</div>
            </div>
            <div id="thumbs">
                <a class="thumbnail"><img class="img-thumbnail" src="resources/images/image_01_thumb.jpeg" alt="11" height="300" width="300"/></a>
                <a class="thumbnail"><img class="img-thumbnail" src="resources/images/image_02_thumb.jpeg" alt="22" height="300" width="300"></a>
                <a class="thumbnail"><img class="img-thumbnail" src="resources/images/image_03_thumb.jpeg" alt="33" height="300" width="300"></a>
                <a class="thumbnail"><img class="img-thumbnail" src="resources/images/image_04_thumb.jpeg" alt="44" height="300" width="300"></a>
            </div>
        </div>
        <!--<a><img alt="" class="img-thumbnail" height="300" src="https://t1.daumcdn.net/cfile/blog/990E3F335E1182FB33"
                width="300"></a>-->
        <!--    <div th:object="${store}">
        <p th:text="*{id}"> </p>-->
        <!--  <input type="hidden" th:field="*{store.image}">
          <div th:each="stores : ${stores}">-->
        <!--  <a><img alt="" class="img-thumbnail" height="300" th:src="*{sto }" width="300"></a>-->

        <!--<p th:each="boards : ${boards}" th:if="*{boards.user.getId()} == '2'" th:text="${boards.getTitle()}"></p>-->
        <br>
        <p>There’s something to tell you
            You want me to share it with you
            STAYC girls it’s going down
            오늘 유난히 티가 더 나는 걸
            모두 쳐다보는 게 다 보여
            왠지 그럴수록 더 난 당당해져
            기분 좋아지는 걸
            머릴 넘기며 어디든 지나가네
            내 달콤한 향수가 흩날리게 Yeah
            항상 날 꾸미는 게 좋아
            예쁜 게 좋아 근데 들어봐 Yeah
            나도 알아 내 모습이
            이뻐 보일지도 당돌한 걸지도
            자꾸만 널 유혹하듯
            보이겠지만 미안하지만
            색안경을 끼고 보지 마요
            난 좀 다른 여자인데
            겉은 화려해도 아직 두려운 걸
            You should know
            I’m a good girl yeah
            너무 세게 안으면 숨 막혀요
            조금 서투를지도 난 아직도
            색안경을 끼고 보지 마요
            Oh baby baby baby
            패션은 과감한 게 좋아 Like it uh huh
            튀는 게 좋아 어떻게든 소화 Yeah
            가끔 나조차 진짜 내 맘을 몰라
            그런 나지만
            나도 알아 내 모습이
            이뻐 보일지도 당돌한 걸지도
            자꾸만 널 유혹하듯
            보이겠지만 미안하지만
            색안경을 끼고 보지 마요
            난 좀 다른 여자인데
            겉은 화려해도 아직 두려운 걸
            You should know
            I’m a good girl yeah
            너무 세게 안으면 숨 막혀요
            조금 서투를지도 난 아직도
            색안경을 끼고 보지 마요
            Oh baby baby baby
            Alright alright 드러나는 모습뿐인걸
            Oh why oh why
            눈으로만 날 판단하지 않길
            Oh 꾸미지 않은 내 모습
            Oh 있는 그대로의 모습
            좋아해 줘 아직 여린 내 맘
            꼭 알아줬으면 해
            색안경을 끼고 보지 마요
            난 좀 다른 여자인데
            겉은 화려해도 아직 두려운 걸
            You should know
            I’m a good girl yeah
            너무 세게 안으면 숨 막혀요
            조금 서투를지도 난 아직도
            색안경을 끼고 보지 마요
            Oh baby baby baby</p>
        <div class="container">
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>삐약 별점</h2>
                        <p th:each="boards : ${boards}" th:if="*{boards.user.getId()} == '1'"
                           th:text="${boards.getContent()}"></p>
                        <button class="btn btn-outline-light" type="button">자세한 후기 보러가기</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>다흰 별점</h2>
                        <p th:each="boards : ${boards}" th:if="*{boards.user.getId()} == '2'"
                           th:text="${boards.getContent()}"></p>
                        <button class="btn btn-outline-secondary" type="button">자세한 후기 보러가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/common :: footer">
    <script th:inline="javascript">
        var header = /*[[${_csrf.headerName}]]*/;
        var token = /*[[${_csrf.token}]]*/;

        $('#thumbs').delegate('img','click', function(){
            $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
            $('#description').html($(this).attr('alt'));
        });

        <!-- $('#thumbs').click(function(){
             $('#largeImage').attr('src',$(this).attr('src').replace('2','1'));
             $('#description').html($(this).attr('alt'));
         });-->
        /*$('#thumbs').click(function () {
            // Grab img.thumb class src attribute
            // NOTE: ALL img tags must have use this class,
            // otherwise you can't click back to the first image.

            var thumbSrc = $('#thumbs').attr$("#board_id").val();

            // Grab img#largeImage src attribute
            var largeSrc = $('#largeImage').attr('th:src');

            // Use variables to replace src instead of relying on file names.
            $('#largeImage').attr('src', $(this).attr('th:src').replace(thumbSrc, largeSrc));
            $('#description').html($(this).attr('alt'));

        });-*/
       /* $('a.thumbnail').click(function () {
            var src = $(this).find('img').attr('src').replace('60/60', '400/200');
            $('#largeImage').attr('src', src);
        });*/
    </script>
</footer>
</body>
</html>