<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('게시판')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="cover.css" rel="stylesheet">
    <title>삐슐랭가이드</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('board')"></nav>
<div class="container">
    <h2>후기</h2>
    <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
        <input type="hidden" th:field="*{id}"> <!--키값(id)전달-->
        <!--<div class="form-group">
            <input type="radio" name="store" value="1">정식당
            <input type="radio" name="store" value="2">모퉁이우
            <input type="radio" name="store" value="3">주옥
            <input type="radio" name="store" value="4">임프레션
            <input type="radio" name="store" value="5">청담우월
        </div>
        <button type="button" onclick="displayRadioValue()">
            Submit
        </button>-->
        <br>
        <div id="result"></div>
        <div class="form-group">
            <label>[리뷰를 작성하고 싶은 식당을 선택해주세요]</label><br>
            <input type="radio" name="store" value="1" id="1" th:field="*{store}">정식당 &nbsp;
            <input type="radio" name="store" value="2" id="2" th:field="*{store}">모퉁이우 &nbsp;
            <input type="radio" name="store" value="3" id="3" th:field="*{store}">주옥 &nbsp;
            <input type="radio" name="store" value="4" id="4" th:field="*{store}">임프레션 &nbsp;
            <input type="radio" name="store" value="5" id="5" th:field="*{store}">청담우월
        </div>
        <br>
        <div class="form-group">
            <label for="title">[제목]</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메시지
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="content">[내용]</label>
            <textarea class="form-control" id="content" rows="25" th:field="*{content}"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"> </textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용 에러 메시지
            </div>
        </div>
        <br>
        <!--  <button type="button" class="btn btn_dark" onclick="showCommentForm();">댓글 달기</button>-->
        <button type="button" class="btn btn-dark" onclick="showCommentForm();">댓글 달기</button>
        <a type="button" class="btn btn-dark" th:href="@{/board/list}">취소</a>
        <button type="button" class="btn btn-dark" th:onclick="|deleteBoard(*{id})|">삭제</button>
        <button type="submit" class="btn btn-dark">확인</button>
    </form>
    <br>

    <div id="comment_form" style="display: none" th:object="${board}" method="post">
        <input id="board_id" type="hidden" th:value="*{id}">
        <label for="content"> [댓글] </label>
        <!--<label for="content"> 댓글 내용 </label>-->
        <textarea class="form-control" name="comment" id="comment" row="3" placeholder="댓글을 남겨주세요"></textarea><br>
        <button id="write_comment_btn" type="button" class="btn btn-dark" th:onclick="|save(*{id})|">작성</button>
        <button id="delete_comment_btn" type="button" class="btn btn-dark">삭제</button>
    </div>
    <br>

    <th:block th:each="comments : ${comments}">
        <div class="card">
            <div class="card-body">
                <strong th:text="${comments.writer}"></strong><br/>
                <a style="text-decoration: none" th:text="${comments.content}"></a>
            </div>
        </div>
    </th:block>
    <br>
    <br>
</div>
<footer th:replace="fragments/common :: footer"></footer>
<script th:inline="javascript">

    $("#writ_comment_btn").click(function () {
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
        const boardId = $("#board_id").val();
        const comment = $("#comment").val();
        $.ajax({
            url: '/api/comments/' + boardId,
            type: 'POST',
            data: {
                comment
            }, beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (result) {
                console.log('result', result);
                window.location.reload();
            }
        })
    })

    function showCommentForm() {
        $("#comment_form").css("display", "");
        $("#delete_comment_btn").click(function () {
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            const commentId = $("#comment_id").val();
            const comment = $("#comment").val();
            $.ajax({
                url: '/api/comments/' + commentId,
                type: 'DELETE',
                data: {
                    comment
                }, beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    console.log('result', result);
                    window.location.reload();
                }
            })
        })
    }

    function displayRadioValue() {
        document.getElementById("result").innerHTML = "";
        var ele = document.getElementsByTagName('input');

        for (i = 0; i < ele.length; i++) {

            if (ele[i].type === "radio") {

                if (ele[i].checked)
                    document.getElementById("result").innerHTML
                        += ele[i].name + " Value: "
                        + ele[i].value + "<br>";
            }
        }
    }


    function deleteBoard(id) {
        $.ajax({
            url: '/api/boards/' + id,
            type: 'DELETE',
            success: function (result) {
                console.log('result', result);
                alert("삭제되었습니다");
                window.location.href = '/board/list';
            }
        });
    }


</script>

</body>
</html>