<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('게시판')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="cover.css" rel="stylesheet">
    <title>삐슐랭가이드</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('board')"></nav>
<div class="container">
    <h2>후기</h2>
    <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
        <input type="hidden" th:field="*{id}"> <!--키값(id)전달-->
        <button id="select_store_btn" th:onclick="save() ">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 정식당 </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 모퉁이우 </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 주옥 </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"
                   disabled>
            <label class="form-check-label" for="inlineRadio4">4 임프레션 </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
            <label class="form-check-label" for="inlineRadio5">5 청담우월 </label>
        </div>
        </button>
        <br>
        <div class="form-group">
            <label for="title">[제목]</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메시지
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="content">[내용]</label>
            <textarea class="form-control" id="content" rows="25" th:field="*{content}"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"> </textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용 에러 메시지
            </div>
        </div>
        <br>
        <div class="text-right">
            <a type="button" class="btn btn-dark" th:href="@{/board/list}">취소</a>
            <button type="button" class="btn btn-dark" th:onclick="|deleteBoard(*{id})|">삭제
            </button>

            <button type="submit" class="btn btn-dark">확인</button>
        </div>
    </form>
    <br/>
</div>
<footer th:replace="fragments/common :: footer"></footer>
<script th:inline="javascript">
  // var header = /*[[${_csrf.headerName}]]*/;
  //  var token = /*[[${_csrf.token}]]*/;
   /* $("#select_store_btn").click(function () {
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header,token);
        });
        //const boardId = $("#board_id").val();
        const comment = $("#id").val();
        $.ajax({
         //   url: '/api/comments/' + boardId,
        //    type: 'POST',
            data: {
                comment
            },beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (result) {
                console.log('result', result);
                alert(comment);
                window.location.reload();
            }
        })
    })*/
    function deleteBoard(id) {
        $.ajax({
            url: '/api/boards/' + id,
            type: 'DELETE',
            success: function (result) {
                console.log('result', result);
                alert("삭제되었습니다");
                window.location.href = '/board/list';
            }
        });
    }

    function save() {
        $.ajax({
            success: function (result) {
                console.log('result', result);
                alert("test");
                window.location.href = '/board/list';
            }
        });
    }
</script>

</body>
</html>