<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('삐슐랭가이드 : 사진')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <meta name="theme-color" content="#7952b3">-->
    <link href="carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <title>삐슐랭가이드</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
     th:replace="fragments/common :: menu('gallery')"></nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>갤러리</h1>
        <br>
        <p class="lead"> 삐슐랭 가이드에 등재된 사진을 모아서 볼수 있습니다.</p>
        <br>
        <div id="gallery">
            <div id="panel">
                <img id="largeImage" src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_1-3_large.jpeg" width="550" height="550" />
                <br>
                <div id="description">아래에서 궁금한 사진을 클릭해보세요</div>
                <br>
            </div>
            <div id="thumbs">
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_1-1_thumb.jpeg" width="200" height="200"
                     alt="정식당" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_1-2_thumb.jpeg" width="200" height="200"
                     alt="정식당" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_1-3_thumb.jpeg" width="200" height="200"
                     alt="정식당" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_1-4_thumb.jpeg" width="200" height="200"
                     alt="정식당" />

                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_2-1_thumb.jpeg" width="200" height="200"
                     alt="모퉁이우" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_2-2_thumb.jpeg" width="200" height="200"
                     alt="모퉁이우" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_2-3_thumb.jpeg" width="200" height="200"
                     alt="모퉁이우" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_2-4_thumb.jpeg" width="200" height="200"
                     alt="모퉁이우" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_2-5_thumb.jpeg" width="200" height="200"
                     alt="모퉁이우" />

                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_3-1_thumb.jpeg" width="200" height="200"
                     alt="주옥" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_3-2_thumb.jpeg" width="200" height="200"
                     alt="주옥" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_3-3_thumb.jpeg" width="200" height="200"
                     alt="주옥" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_3-4_thumb.jpeg" width="200" height="200"
                     alt="주옥" />

                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-1_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-2_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-3_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-4_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-5_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_4-6_thumb.jpeg" width="200" height="200"
                     alt="청담우월" />

                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_5-1_thumb.jpeg" width="200" height="200"
                     alt="몽중헌-추후 삐슐랭 업데이트 예정입니다" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_6-1_thumb.jpeg" width="200" height="200"
                     alt="유키즈시-추후 삐슐랭 업데이트 예정입니다" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_7-1_thumb.jpeg" width="200" height="200"
                     alt="옥동식-추후 삐슐랭 업데이트 예정입니다" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_8-1_thumb.jpeg" width="200" height="200"
                     alt="청담물항-추후 삐슐랭 업데이트 예정입니다" />
                <img src="https://ppi-pic.s3.ap-northeast-2.amazonaws.com/image_10-1_thumb.jpeg" width="200" height="200"
                     alt="꽃 빕에 피다-추후 삐슐랭 업데이트 예정입니다" />
            </div>
        </div>
        <br>
    </div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
    <script th:inline="javascript">
        $('#thumbs img').click(function(){
            $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
            $('#description').html($(this).attr('alt'));
        });
    </script>
</body>
</html>