<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="cover.css" th:href="@{/css/cover.css}" rel="stylesheet">
    <title th:text="${title}">삐슐랭가이드</title>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .linkToWhite:hover{text-decoration:none}
        .linkToWhite
        {
            color:white;
            text-decoration: none;
        }
        .linkToBlack
        {
            color:black;
            text-decoration: none;
        }
        .link{
            text-decoration: none;
            color:black;
        }
    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"></nav>
</header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="menu(menu)">
    <a class="navbar-brand">삐슐랭가이드</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" th:classappend="${menu} == 'map'? 'active'" aria-current="page" href="#"
                       th:href="@{/}">지도</a></li>
                <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" th:classappend="${menu} == 'info'? 'active'" aria-current="page"
                           href="#" th:href="@{/board/information}">정보</a></li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" th:classappend="${menu} == 'list'? 'active'" aria-current="page"
                       th:href="@{/board/list}">후기</a></li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" th:classappend="${menu} == 'ranking'? 'active'" aria-current="page"
                       th:href="@{/board/ranking}">인기글</a></li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu} == 'gallery'? 'active'" aria-current="page"
                       th:href="@{/gallery}">갤러리</a>
                </li>

              <!--  <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu} == 'personal'? 'active'" aria-current="page"
                       th:href="@{/personal}">회원정보인증</a>
                </li>-->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/personal}">회원정보인증</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/account/login}">로그인</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/account/register}">회원가입</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" sec:authentication="name">사용자</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" sec:authentication="principal.authorities">권한</a>
                </li>
                <form class="form-inline my-2 mr-2 my-lg-0" th:action="@{/logout}" method="post"
                      sec:authorize="isAuthenticated()">
                    <button class="btn btn-dark" type="submit">Logout</button>
                </form>

            </ul>

           <!-- //변수처럼 사용하고 싶은 경우
            <a th:href="@{'/users/'+ ${#authentication.principal.id}}">마이페이지</a>-->

            <form class="d-flex" method="GET" th:action="@{/board/list}">
                <input class="form-control me-2" id="searchText" name="searchText" type="search" placeholder="글찾기"
                       aria-label="Search" th:value="${param.searchText}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        </div>

</nav>

<footer th:fragment="footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" c
            rossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>