<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('삐슐랭가이드 : 지도')">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="cover.css" th:href="@{css/carousel.css}" rel="stylesheet">
    <title>삐슐랭가이드</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('map')"></nav>
<main>
        <div class="container-fluid py-5">
            <div class="starter-template">
                <h1 class="display-5 fw-bold">삐슐랭 MAP</h1>
                <div id="map" style="width:100vw; margin-left: calc(-50vw + 50%); height:400px;"></div>
                <br>
                <p>삐슐랭 가이드의 분포를 살펴보세요</p>
        </div>
    </div>
</main>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dbbe2da30ca80968723394ba0f93d23b"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map');
    mapOption = {
        center: new kakao.maps.LatLng(37.4981646510326, 127.028307900881),
        level: 9
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    /*<![CDATA[*/
    const storeList = [[${stores}]];
    console.log(storeList);
    /*]]>*/
    var positions = [
        {
            content: '<div>' + "정식당" + '</div>',
            latlng: new kakao.maps.LatLng(37.5256582, 127.0410810),
            id: 1
        },
        {
           // content: '<div>' + storeList[1].name + '</div>',
            content: '<div>' + "모퉁이우" + '</div>',
            latlng: new kakao.maps.LatLng(37.5109478, 127.0648306),
            id: 2
        },
        {
            content: '<div>' + "주옥" + '</div>',
            latlng: new kakao.maps.LatLng(37.5646641, 126.9780902),
            id: 3
        },
        {
            content: '<div>' + "임프레션" + '</div>',
            latlng: new kakao.maps.LatLng(37.5254251, 127.0354742),
            id: 4
        },
        {
            content: '<div>' + "청담우월" + '</div>',
            latlng: new kakao.maps.LatLng(37.5228902, 127.0448685),
            id: 5
        },
    ];
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    for (var i = 0; i < positions.length; i++) {
        var imageSize = new kakao.maps.Size(24, 35);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커의 위치
            image: markerImage // 마커 이미지
        });

        // 마커에 표시할 인포윈도우를 생성
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });

        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'click', makeClickListener(positions[i].id));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    function getBoard(id) {
        //POST /api/boards/{id}
        $.ajax({
            url: '/api/stores/' + id,
            type: 'GET',
            success: function (result) {
                console.log('result', result);
                //window.location.href = '/board/list';
            }
        });
    }

    function makeClickListener(id) {
        return function () {
            window.location.href = '/board/information/';
        };
    }


    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }
</script>
</body>
</html>