body{
    padding-top : 5rem;
    -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none; }

.starter-template{
    padding: 3rem 1.5rem;
    text-align: center;
}

.text-center {
    text-align: center !important;
}